body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "lista lista" "agregar eliminar";
}

#lista{
    grid-area: lista;
}

#agregar{
    grid-area: agregar;
}

#eliminar{
    grid-area: eliminar;
}